@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-slideshow-image/dist/styles.css";

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background:  linear-gradient(0.25turn, #ea8e2c, #ebf8e1, #3cf648);;
  transform-origin: 0%;
}

#animation {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  /* background-image: url(https://i.ibb.co/p37VNzc/luca-calderone-8-Rr-MKja-W8-Qg-unsplash.jpg); */
  background-image: url(https://i.ibb.co/6Y9Yw39/vecteezy-dramatic-panorama-sky-with-cloud-on-sunrise-and-sunset-time-3370922-1-1.jpg);
  background-size: cover;
  height: auto;
}
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

#video {
  position: fixed;
  z-index: -1;
  width: 100%;
}
.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

#place-div {
  justify-content: space-around;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}
